<div class="d-flex align-items-center">
    <span class="mr-4">
        Zobrazujem: <b>{{this.showingFrom}} &ndash; {{this.showingTo}}</b>
    </span>

    <ul class="pagination mb-0">
        <li class="page-item">
            <button class="page-link" type="button" disabled={{this.isFirstPage}} {{action goToFirstPage}}>
                <i class="far fa-fw fa-arrow-to-left"></i>
            </button>
        </li>
        <li class="page-item">
            <button class="page-link" type="button" disabled={{this.isFirstPage}} {{action goToPreviousPage}}>
                <i class="far fa-fw fa-angle-left"></i>
            </button>
        </li>
        <li class="page-item">
            <button class="page-link" type="button" disabled={{this.isLastPage}} {{action goToNextPage}}>
                <i class="far fa-fw fa-angle-right"></i>
            </button>
        </li>

        <li class="page-item">
            <button class="page-link" type="button" disabled={{this.isLastPage}} {{action goToLastPage}}>
                <i class="far fa-fw fa-arrow-to-right"></i>
            </button>
        </li>
    </ul>
</div>